.com {
    display: flex;
    flex-direction: column;
}
.scroll-view {
    width: 100vw;
    height: calc(100svh - 48px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-view::-webkit-scrollbar {
    width: 0px;
}
.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.content {
    width: 100vw;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background: #111;
}

.video {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.icons {
    position: absolute;
    bottom: 20px; 
    right: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.icon {
    width: 30px; 
    height: 30px;
    margin: 10px;
}

.person-icon {
    border-radius: 50%;
    margin: 0;
    width: 40px;
    height: 40px;
}

.heart-icon  {
    margin: 10px;
    width: 30px;
    height: 30px;
}


.texts {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
    line-height: 1em;

    margin-left: 10px;
}

.texts h3 {
    line-height: 0;
}

.texts p {
    display: inline-block;
    margin: 0;
    margin-right: 50px;
    line-height: 1.5em;
}

.under-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    width: 95%;
    padding-bottom: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%);
}

.recoms {
    padding-bottom: 10px;
    display: flex;
}

.item-icon {
    width: 50px; 
    height: 50px;
    margin: 10px;
}

.side-item {
}

.tab-indicator {
    top:0;
    position: fixed; 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow: hidden;
}

.tab-indicator-wrapper{
    display: flex;
    justify-content: center;
    transform: translateX(0); /* JavaScriptで動かすために初期値を設定 */
    transition: transform 0.3s ease; /* 中央に移動するアニメーションを追加 */
}

.tab {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tab.active {
    color: #fff;
  }
  
.detail-content {
    height: calc(100svh - 48px);
    background-color: #000;
}

.detail-content .products-header {
    z-index: 100;
}

footer {
    background-color: #000;
    border: none;
}

.black-component {
    text-decoration: none;
    color: #ccc;
}


.black-stroke {
    stroke: #ccc;
}

.black-fill {
    fill: #ccc;
    width: 24px;
    height: 24px;
}
.black-footer p {
    color: #ccc;
}

.community-white {
    color: #fff;
}

.joboffer-container{
    padding:30px;
    width:70%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0 auto;
}


.joboffer-title{
    height: 50px;
    font-weight: bold;
    background-color: #f6f5f5;
    text-align: left;
}
.joboffer-title{
    padding-top: 20px; 
    padding-left:20px;
    display: block; 
}
.joboffer-input input{
    width: 100%;
    height: 50px;
    outline:none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding-left:20px;
}

.joboffer-submitbutton button{
    width:100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    color: #626262;
    background-color: #fff;
    border-radius: 10px; 
    border-color: #626262;
}

.community-white svg{
    fill: #fff;
}

.dm {
    padding: 2px 2px;
}

.openbtn {
    position: absolute;
    left: 0; /* Align to the right */
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    top:14px;
    left: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: #ffffff;
    width: 70%;
}
.openbtn span:nth-of-type(1) {
    top:22px; 
  }
  
  .openbtn span:nth-of-type(2) {
    top:30px;
  }

  #g-nav {
    /* Adjust the start position to be off-screen to the left */
    position: fixed;
    z-index: 999;
    top: 0;
    left: -40%; /* Move it off-screen to the left */
    width: 40%;
    height: 100vh; /* Full height */
    background: #434343;
    opacity: 0.8;
    transition: all 0.6s; /* Smooth transition */
  }

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
    text-align: center;
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.community-icon-items {
    margin-top:60px;
    padding-left:0;
    display:flex;
    flex-direction: column;
    height: calc(100svh - 108px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .community-icon-item {
    width:100%;
    margin: 10px;
    text-align: center;
    display: flex;
  }
  
  .community-icon-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  
  .community-icon-item h6 {
    width:80px;
    padding-top:2px;
    font-size: 14px;
    color: #ffffff;
  }
  
  h6 {
    margin:0;
  }

  .toggle {
    padding-left:10px;
    --width: 30px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
    background: #000000;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}

.comp-each {
    position: relative;
}

.leftUp {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 8;
}


  
.js-modal__main {
    width: calc(100% - 32px);
    height: 80%;
    padding: 16px;
    left: 0;
    background: #fff;
    border-radius: 4px 4px 0 0;
    position: fixed;
    z-index: 11;
    opacity: 0;
  }
  
  .js-modal__btn {
    color: #76952f;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .js-modal__btn--close {
    text-align: center;
    text-decoration: underline;
  }
  
  .js-modal__btn--close--fix {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: 5px;
    z-index: 101;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .js-modal__btn--close--fix:before {
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
    left: -3px;
  }
  
  .js-modal__btn--close--fix:after {
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    left: -3px;
  }
  
  /*下から上*/
  @keyframes SlideUp {
    0% {
      opacity: 0;
      transform: translateY(-1%);
    }
    100% {
      opacity: 1;
      transform: translateY(-80%);
    }
  }
  
  /*上から下*/
  @keyframes SlideDown {
    0% {
      opacity: 1;
      transform: translateY(-80%);
    }
    100% {
      opacity: 0;
      transform: translateY(-1%);
    }
  }
  .js-modal__btn--close{
    width:fit-content;
    font-size: 16px;
    color: #999999;
    background-color: #fff;
    border: none;
    text-decoration: none;
    padding: 5px 0;
  }


  .js-modal__main._slideUp {
    animation: SlideUp .5s ease-in-out forwards;
    height: calc(100svh - 90px);
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    z-index: 100000;
    display: flex;
    flex-direction: column;
  }
  
  .js-modal__main._slideDown {
    animation: SlideDown .5s ease-in-out forwards;
  }
  