.com {
    display: flex;
    flex-direction: column;
}
.scroll-view {
    width: 100vw;
    height: calc(100vh - 48px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-view::-webkit-scrollbar {
    width: 0px;
}
.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.content {
    width: 100vw;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background: #111;
}

.video {
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.icons {
    position: absolute;
    bottom: 20px; 
    right: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 30px; 
    height: 30px;
    margin: 10px;
}

.person-icon {
    border-radius: 50%;
    margin: 0;
    width: 40px;
    height: 40px;
}

.texts {
    position: absolute;
    bottom: 20px; 
    left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
    line-height: 1em;
}

.texts p {
    display: inline-block;
    margin: 0;
}

.recoms {
    position: absolute;
    bottom: 300px; 
    left: 0;
    display: flex;
    flex-direction: column;
}

.item-icon {
    width: 50px; 
    height: 50px;
    margin: 10px;
}

.side-item {
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000;
}

.tab-indicator {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow: hidden;
  }
  .tab-indicator-wrapper {
    display: flex;
    justify-content: center;
    transform: translateX(0); /* JavaScriptで動かすために初期値を設定 */
    transition: transform 0.3s ease; /* 中央に移動するアニメーションを追加 */
}
.tab {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  .tab.active {
    color: #fff;
  }
  
.detail-content {
    height: calc(100vh - 48px);
    background-color: #000;
}

.detail-content .products-header {
    z-index: 100;
}

footer {
    background-color: #000;
    border: none;
}

.black-component {
    text-decoration: none;
    color: #fff;
}

.black-stroke {
    stroke: #fff;
}

.black-fill {
    fill: #fff;
    width: 24px;
    height: 24px;
}
.black-footer p {
    color: #fff;
}
