footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0 0;
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #f5f5f5;
    bottom: 0;
    position: fixed; 
  }

  .foot {
    background-color: #fff;
  }
  .component {
    width:25%;
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    justify-content: flex-end;
  }
  .component p {
    text-align: center;
    font-size: 10px;
    flex: 1;
    cursor: pointer;
    display: inline-block;
    margin: 0;
  }

  .component {
    text-decoration: none;
    color: #cdced2;
  }

  .component img{
    width: 32px;
    height: 32px;
    object-fit: cover;
  }

  .commu {
    width: 24px;
    height: 24px;
  }

  .white-stroke {
    stroke: #cdced2;
  }

  .white-fill {
    fill: #cdced2;
  }

  /* Active class styles */
.component.active {
  color: #000; /* テキストの色を変更 */
}

.component.active .white-stroke {
  stroke: #000; /* SVGのストローク色を変更 */
}

.component.active .white-fill {
  fill: #000; /* SVGの塗りつぶし色を変更 */
}

.component.active p {
  color: #000; /* テキストの色を変更 */
}

  