footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0 0;
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
  }
  
  .component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .component p {
    text-align: center;
    font-size: 10px;
    flex: 1;
    cursor: pointer;
    display: inline-block;
    margin: 0;
  }
  .component img{
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
