p{
    margin:0;
}
.product-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin-top: 59px;
    height: calc(100svh - 108px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.product-description{
    padding:10px;
    border-bottom: 1px solid #ddd;
}
.product-description label{
    padding:10px 0;
    font-size: 25px;
    font-weight: bold;
}

.product-photo {
    position: relative;
}

.likes{
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: auto;
}

.product-photo img{
    width:100%;
    margin: 0 auto;
    display: block; 

}
.product-title{
    padding:20px 0;
}
.wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper img{
    width: 50px;
    height: 50px;
    margin-left: auto;
}


.add-cart button{
    width:100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    color: #df9bf8;
    background-color: #ffffff;
    border-radius: 10px; 
    border-color: #a988eb;
}
.user-profile {
    width: 90%;
    padding: 5%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.product-left {
    display: flex;
    width: 100%;
    align-items: center;
}

.user-profile a {
    text-decoration: none;
}

.product-texts {
    padding: 5%;
    color: #000;
}

.product-texts h4 {
    margin: 8px 0;
}

.user-profile img{
    border-radius: 100%;
    max-width:48px;
    max-height:48px;
    aspect-ratio: 1/1;
}

.related-posts {
    width: 90%;
    margin: 5%;
}

.posts-grid {
    display:flex;
    overflow-x: scroll;
    gap: 10px;
}

.post-item {
    width: 33%;
}

.post-item img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 3/5;
}

.post-item a {
    text-decoration: none;
    color: #000;
}

.modall {
    margin: 0;
    text-align: left;
}
