.products-container {
    margin-top: 80px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: calc(100vh - 108px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.products{
    width:100%;
}