p{
    margin:0;
}
.product-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin-top: 59px;
    height: calc(100vh - 108px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.product-description{
    padding:10px;
    border-bottom: 1px solid #ddd;
}
.product-description label{
    padding:10px 0;
    font-size: 25px;
    font-weight: bold;
}
.product-photo img{
    width:80%;
    margin: 0 auto;
    display: block; 

}
.product-title{
    padding:20px 0;
}
.wrapper {
    display:flex;
}

.wrapper img{
    width: 50px;
    height: 50px;
    margin-left: auto;
}
.likes{
    margin-left: auto;
}

.add-cart button{
    width:100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    color: #df9bf8;
    background-color: #ffffff;
    border-radius: 10px; 
    border-color: #a988eb;
}
.user-profile {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.user-profile img{
    border-radius: 100%;
    width:100px;
    height:100px;
}

.posts-grid {
    display:flex
}

.posts-grid img{
    width:10%;
}