.products-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: calc(100vh - 108px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.products{
    width:100%;
}
.modall {
    margin: 0;
    text-align: left;
}

.cclose {
    z-index: 400;
}
.products-header {
    padding: 10px 0;
}

.products-header svg {
    display: none;
}
